<h1>Welcome to Reditt(kinda)</h1>

<h4> Please enter your username and password in order to participate. </h4>

	<%= form_tag (login_path) do %>

		<div class="login_input">
			<%=label_tag "username: "%>
			<%=text_field_tag :username %>
		</div>


		<div class="login_input">
			<%=label_tag "Password: "%>
			<%=password_field_tag :password %>
		</div>

		<%= submit_tag "Login!" %>
	<% end %>

<div class="sign-up">
<p>Don't have an account? Click the signup button above!</p>
</div>