<h1> Post a link to some cool stuff </h1>

	<%= form_tag (links_path) do %>

		<div class="link_input">
			<%=label_tag "Give your link a title!"%>
			<p><%=text_field_tag :title %></p>
		</div>


		<div class="link_input">
			<%=label_tag "What is the URL?"%>
			<p><%=url_field_tag :url %></p>

		</div>
		<div class="post-it">
		  <%= submit_tag "Post It!" %>
		</div>
	<% end %>

	