<h1> Post a link to some cool stuff </h1>

	<%= form_tag (links_path) do %>

		<div class="link_input">
			<%=label_tag "Give your link a title!"%>
			<%=text_field_tag :title %>
		</div>


		<div class="link_input">
			<%=label_tag "What is the URL?"%>
			<%=url_field_tag :url %>
		</div>

		<%= submit_tag "POSTIT!" %>
	<% end %>

	